### LAB03‒ 프로그램 흐름제어 / 리스트 (1)

## 1.프로그램 흐름제어

In [ ]:
point = int(input("점수를 입력하세요: "))

if point >70:
    print("패스입니다")

    if point > 90:
        print("A입니다")
    elif point > 80:
        print("B입니다")
    else:
        print("C입니다")
else:
    print ("패스하지 못했습니다.")

In [ ]:
number = int(input("숫자를 입력하세요: "))

x = 0
y = 0

for i in range(1,number+1):
    if i%2==0:
        print(i,"--> 짝")
        x+=i
    else:
        print(i,"--> 홀수")
        y += i
print("짝수들의 합:",x)
print("홀수들의 합:",y)

In [12]:
for i in range(0,5):
    print(i)

    if i+ 1 <5:
        print("------")

0
------
1
------
2
------
3
------
4

In [14]:
x=3
y=5

for i in range(1,101):
    if i%x==0 and i%y==0:
        print(i)

15
30
45
60
75
90

In [ ]:
for i in range(0,3):
    print("i에 대한 반복 수행 시작 : -->",i)

    for j in range(0,5):
        print("::: i=5",i,",",j)
    
    print("i에 대한 반복 수행 종료")

    if i +1 <3:
        print("---------------------")

i에 대한 반복 수행 시작 : ㅑ--> 0
::: i=5 0 , 0
::: i=5 0 , 1
::: i=5 0 , 2
::: i=5 0 , 3
::: i=5 0 , 4
i에 대한 반복 수행 종료
---------------------
i에 대한 반복 수행 시작 : ㅑ--> 1
::: i=5 1 , 0
::: i=5 1 , 1
::: i=5 1 , 2
::: i=5 1 , 3
::: i=5 1 , 4
i에 대한 반복 수행 종료
---------------------
i에 대한 반복 수행 시작 : ㅑ--> 2
::: i=5 2 , 0
::: i=5 2 , 1
::: i=5 2 , 2
::: i=5 2 , 3
::: i=5 2 , 4
i에 대한 반복 수행 종료

In [3]:
for i in range(2,10):
    for j in range(1,10):
        k=i*j
        print(i,"x",j,"=",k)

    if i+1 <10:
        print("---------")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
---------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
---------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
---------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
---------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
---------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
---------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
---------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [9]:
for i in range(0,5):
    star = ""

    for j in range(0,i+1):
        star +="*"

    print(star)

*
**
***
****
*****

In [7]:
y=0
while True:
    y+=1

    if y%2 ==0:
        continue
    if y>10:
        break

    print("Hello python::",y)

Hello python:: 1
Hello python:: 3
Hello python:: 5
Hello python:: 7
Hello python:: 9

In [10]:
count = 0

for i in range(1,7):
    for j in range(1,7):
        if i+j==6:
            count +=1
            print (i,j)
    print ("경우의 수",count)

1 5
경우의 수 1
2 4
경우의 수 2
3 3
경우의 수 3
4 2
경우의 수 4
5 1
경우의 수 5
경우의 수 5

In [14]:
for i in range(0,5):
    star = ""

    for j in range(0,5-i):
        star +="*"

    print(star)

*****
****
***
**
*

## 2.리스트의 이해

In [16]:
grade = [98,82,73,64,100]
print(grade)

[98, 82, 73, 64, 100]

In [17]:
names = ["철수","영희","나영","민식","호영"]
print(names)

['철수', '영희', '나영', '민식', '호영']

In [18]:
student=["철수",17,162.4,68.5,"남자",True]
print(student)

['철수', 17, 162.4, 68.5, '남자', True]

In [20]:
items = [10,20,30]
print(items[0])
print(items[1])
print(items[2])

10
20
30

In [22]:
mydata = [100,200,300]
print(mydata)

mydata[0]= 0
mydata[1] =mydata[1] - 150
mydata[2] //=3
print(mydata)

[100, 200, 300]
[0, 50, 100]

In [23]:
list1 = [10, 20, 30]
list2 = [40, 50, 60]
print(list1)
print(list2)

[10, 20, 30]
[40, 50, 60]

In [24]:
list3 = list1 + list2
print(list3)

[10, 20, 30, 40, 50, 60]

In [25]:
list4 = list1 * 5
print(list4)

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [26]:
stud1 = [ "철수", 98 ]
stud2 = [ "영희", 82 ]
stud3 = [ "나영", 73 ]
# 리스트를 원소로 갖는 새로운 리스트 정의
studentGroup = [ stud1, stud2, stud3 ]
print(studentGroup)

[['철수', 98], ['영희', 82], ['나영', 73]]

In [27]:
studentGroup2 = [
["민식", 64, 172.3],
["호영", 100, 175.8],
["철민", 89, 168.7]
]
print(studentGroup2)

[['민식', 64, 172.3], ['호영', 100, 175.8], ['철민', 89, 168.7]]

In [28]:
학생 = [ ["민식", 64, 172.3], ["호영", 100, 175.8], ["철민", 89, 168.7] ]

In [31]:
print(학생[0])
print(학생[1])
print(학생[2])

['민식', 64, 172.3]
['호영', 100, 175.8]
['철민', 89, 168.7]

In [32]:
학생 = [ ["민식", 64, 172.3], ["호영", 100, 175.8], ["철민", 89, 168.7] ]
print("이름: ", 학생[0][0], " 몸무게: ", 학생[0][1], " 키: ", 학생[0][2])
print("이름: ", 학생[1][0], " 몸무게: ", 학생[1][1], " 키: ", 학생[1][2])
print("이름: ", 학생[2][0], " 몸무게: ", 학생[2][1], " 키: ", 학생[2][2])

이름:  민식  몸무게:  64  키:  172.3
이름:  호영  몸무게:  100  키:  175.8
이름:  철민  몸무게:  89  키:  168.7

In [33]:
items = [
["티셔츠", "M", "빨강", 15000],
["청바지", 32, "청색", 45000, "리바이스"],
["운동화", 270, "검정", 60000, "나이키", "가죽"]
]
print("상품: ", items[0][0], ", 사이즈: ", str(items[0][1]), ", 색상: ",
items[0][2], ", 가격: " + str(items[0][3]),)
print("상품: ", items[1][0], ", 사이즈: ", str(items[1][1]), ", 색상: ",
items[1][2], ", 가격: " + str(items[1][3]), ", 브랜드: ", items[1][4])
print("상품: ", items[2][0], ", 사이즈: ", str(items[2][1]), ", 색상: ",
items[2][2], ", 가격: " + str(items[2][3]), ", 브랜드: ", items[2][4],
", 재질: " + items[2][5])

상품:  티셔츠 , 사이즈:  M , 색상:  빨강 , 가격: 15000
상품:  청바지 , 사이즈:  32 , 색상:  청색 , 가격: 45000 , 브랜드:  리바이스
상품:  운동화 , 사이즈:  270 , 색상:  검정 , 가격: 60000 , 브랜드:  나이키 , 재질: 가죽

In [34]:
mylist = [10,20,30]
print(mylist[1])
print(mylist[2])

20
30

In [35]:
first = mylist[0]
print(first)

10

In [37]:
mylist[1]=200
print(mylist)

[10, 200, 30]

In [38]:
mylist=[60,70,80,90,100]
print(mylist[1:3])

[70, 80]

In [39]:
print(mylist[1:-2])

[70, 80]

In [40]:
mylist=[10,20,30,40,50]
print(mylist[3:])
print(mylist[:3])
print(mylist[:])

[40, 50]
[10, 20, 30]
[10, 20, 30, 40, 50]

In [43]:
foo =[1,2,3,4,5]

foo[1:4]=[20,30,40]

print (foo)

foo[1:4] = []
print(foo)

[1, 20, 30, 40, 5]
[1, 5]

In [45]:
hello = [6,7,8,9,10]

hello[1:4] = [100,200,300,400,500,600]
print (hello)

hello[1:8] = [1000,2000]
print(hello)

[6, 100, 200, 300, 400, 500, 600, 10]
[6, 1000, 2000]

## 4. 리스트의 원소 복사

In [46]:
a = 100
b = a
print(a)
print(b)

100
100

In [47]:
b=200
print(a)
print(b)

100
200

In [48]:
foo= [1,2,3]
bar = foo
print(bar)
print(foo)

[1, 2, 3]
[1, 2, 3]

In [49]:
bar = [1,2,3]
cp1 = [0,0,0]

cp1[0] = bar[0]
cp1[1] = bar[1]
cp1[2] = bar[2]

In [50]:
cp1[2] = 1000
print(bar)
print(cp1)

[1, 2, 3]
[1, 2, 1000]

In [51]:
hello = [100,200,300]
cp2=hello[:]

cp2[1] =12345
print(hello)
print(cp2)

[100, 200, 300]
[100, 12345, 300]

In [ ]:
world = ["hello","python","world"]
cp3 = world.copy()

cp3[0]="nice"
print(world)
print(cp3)

['hello', 'python', 'world']
['nice', 'python', 'world']

In [55]:
grade = (98,82,73,64,123)

In [57]:
print(grade)

(98, 82, 73, 64, 123)

In [59]:
names=("철수","영희","나영","민식","호영")
print(names)

('철수', '영희', '나영', '민식', '호영')

In [60]:
stud1 = ("철수",98)

In [61]:
print(stud1)

('철수', 98)

In [63]:
print(stud1[0])
print(stud1[1])

철수
98

In [64]:
def divmod(a,b):
    return[a//b,a%b]

result = divmod(7,3)
print(result)

x,y = divmod(7,3)
print("몫:",x,",나머지: ", y)

[2, 1]
몫: 2 ,나머지:  1

In [65]:
mylist=[10,20,30]

if mylist:
    print("원소가 포함됨")
else:
    print("원소가 포함되지 않음")

원소가 포함됨

In [66]:
mylist=[]

if mylist:
    print("원소가 포함됨")
else:
    print("원소가 포함되지 않음")

원소가 포함되지 않음

In [70]:
mylist=[3,5,7,1,9]
target = 7

find = target in mylist
print(find)

not_find = target not in mylist
print(not_find)

True
False

In [71]:
user_id_list = ["mike","tom","jane"]

user_id = input("아이디를 입력하세요: ")

if user_id not in user_id_list:
    print("사용 가능한 아이디입니다")
else:
    print("죄송합니다. 해당 아이디는 사용 중입니다.")

사용 가능한 아이디입니다

In [72]:
mylist = [10,20,30,40,50]
size = len(mylist)
i = 0

while i < size:
    print(mylist[i])
    i+=1

10
20
30
40
50

In [73]:
score = [91,53,12,54,90]
subject=len(score)
i=0
sum = 0

while i < subject:
    sum += score[i]
    i+=1

avg = sum/subject

print("sum:",sum,"avg: ",avg)

sum: 300 avg:  60.0