### LAB04 ‒ 리스트 (2) / 문자열

In [1]:
seasons = ['봄','여름','가을','겨울']

size=len(seasons)
for i in range(0,size):
    print(i,"번째 원소:",seasons[i])

0 번째 원소: 봄
1 번째 원소: 여름
2 번째 원소: 가을
3 번째 원소: 겨울

In [2]:
msg = ['python','is','good']

for i in msg:
    print(i)

python
is
good

In [3]:
score = [100,23,15,65,32]


total = 0

for v in score:
    total += v

avg = total//len(score)

print("총점:",total,"평균:",avg)

총점: 235 평균: 47

In [7]:
city = ["서울","인천","대구","부산","광명"]

for i, v in enumerate(city):
    print (i,"번쨰의 값:",v)

0 번쨰의 값: 서울
1 번쨰의 값: 인천
2 번쨰의 값: 대구
3 번쨰의 값: 부산
4 번쨰의 값: 광명

In [11]:
mydata = [[88,12,54,15],[63,76,32,90]]

size = len(mydata)
print("size:", size)

for i in range(0,size):
    print(i,"번째 데이터->",mydata[i])

size: 2
0 번째 데이터-> [88, 12, 54, 15]
1 번째 데이터-> [63, 76, 32, 90]

In [13]:
size = len(mydata)
print("size:", size)

for i in range(0,size):
    print(i,"번째 데이터->",mydata[i])

    total = 0
    size = len(mydata[i])

    for j in range(0,size):
        total +=mydata[i][j]

    avg = total / size

    print(i,"번째 데이터 ==> 총합=" , total,"평균",avg)

size: 2
0 번째 데이터-> [88, 12, 54, 15]
0 번째 데이터 ==> 총합= 169 평균 42.25
1 번째 데이터-> [63, 76, 32, 90]
1 번째 데이터 ==> 총합= 261 평균 65.25

In [14]:
for row in mydata:
    print("이번에 출력 되는 데이터->",row)
    
    total = 0

    for col in row:
        total +=col

    avg = total / len(row)

    print(row,"에 대한 총합= ", total,",평균=" ,avg)

이번에 출력 되는 데이터-> [88, 12, 54, 15]
[88, 12, 54, 15] 에 대한 총합=  169 ,평균= 42.25
이번에 출력 되는 데이터-> [63, 76, 32, 90]
[63, 76, 32, 90] 에 대한 총합=  261 ,평균= 65.25

## 2. 리스트 관련 함수

In [17]:
mylist = [1,2,3,4,5]
print(len(mylist))

5

In [18]:
mylist = [1,2,3]
del(mylist[1])
print(mylist)

[1, 3]

In [19]:
mylist = [4,2,5,3,1]

In [20]:
print(mylist)

[4, 2, 5, 3, 1]

In [21]:
asc = sorted(mylist)
print(asc)

[1, 2, 3, 4, 5]

In [22]:
desc = sorted(mylist,reverse=True)
print(desc)

[5, 4, 3, 2, 1]

In [23]:
print(mylist)

[4, 2, 5, 3, 1]

In [24]:
a=[1,2,3]
print(max(a))
print(min(a))

3
1

In [25]:
print(sum(a))

6

In [26]:
avg = sum(a) / len(a)

In [27]:
print(avg)

2.0

In [29]:
a = "python"
b = list(a)
print(b)

['p', 'y', 't', 'h', 'o', 'n']

In [30]:
c = (1,2,3)
d = list(c)
print(d)

[1, 2, 3]

In [31]:
e = [10,20,30]
f = list(e)
print(f)

[10, 20, 30]

In [33]:
k = range(1,10)
print(type(k))
print(k)

<class 'range'>
range(1, 10)

In [34]:
z = list(k)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
k = list(range(1,10,3))
print(k)

[1, 4, 7]

In [37]:
mylist = [1,2,3,2,4,2]
c = mylist.count(2)
print(c)

3

In [39]:
mylist = [1,2,3,10,1,2,3,10]
x = mylist.index(10)
print(x)

3

In [40]:
mylist = [1,2,3]
mylist.append([5,6])
print(mylist)

[1, 2, 3, [5, 6]]

In [41]:
mylist=[1,2,3]
mylist.append([5,6])
print(mylist)

[1, 2, 3, [5, 6]]

In [42]:
mylist = [1,2,3]
mylist.insert(1,10)

In [43]:
print(mylist)

[1, 10, 2, 3]

In [44]:
mylist = [1,2,3]
mylist.insert(0,10)
print(mylist)

[10, 1, 2, 3]

In [45]:
mylist = [1,2,3]
lastindex = len(mylist)
mylist.insert(lastindex,10)
print(mylist)

[1, 2, 3, 10]

In [47]:
mylist = [1,2,3]
k = mylist.pop()
print(k)
print(mylist)

3
[1, 2]

In [48]:
mylist = [1,2,3]
addon = [10,9,8,7]
mylist.extend(addon)
print(mylist)

[1, 2, 3, 10, 9, 8, 7]

In [49]:
mylist = [1,2,3,10,1,2,3,10]
mylist.remove(10)
print(mylist)

[1, 2, 3, 1, 2, 3, 10]

In [50]:
mylist = [1,7,5,3,9]
mylist.reverse()
print(mylist)

[9, 3, 5, 7, 1]

In [53]:
mylist = [2,5,1,4,3]
mylist.sort()
print(mylist)

[1, 2, 3, 4, 5]

In [54]:
mylist = [2,5,1,4,3]
mylist.sort(reverse=True)
print(mylist)

[5, 4, 3, 2, 1]

In [55]:
text = "안녕,파이썬,세계야,최고야"
mylist=text.split(",")
print(mylist)

['안녕', '파이썬', '세계야', '최고야']

In [56]:
dl = "$"
mylist = ["a","b","c","d"]
text = dl.join(mylist)
print(text)

a$b$c$d

In [60]:
empty = ""
mylist = ["a","b","c","d"]
text = empty.join(mylist)
print(text)

abcd

In [59]:
space = " "
mylist = ["a","b","c","d"]
text = space.join(mylist)
print(text)

a b c d

In [61]:
c = divmod(7,3)
print(c)

(2, 1)

In [62]:
hours = 800
k = divmod(800,24)
tpl = "{0}일 {1}시간"
print(tpl.format(k[0],k[1]))

33일 8시간

In [63]:
days, hours = divmod(900,24)
tpl = "{0}일 {1}시간"
print(tpl.format(days,hours))

37일 12시간

In [ ]:
msg1 = "Life is too short"
msg2 = "You need to python"
print (msg1)
print (msg2)

Life is too short
You need to python

In [73]:
mymsg = "Hello"

for m in mymsg:
    print(m)

H
e
l
l
o

In [68]:
case1 = "Life is \"too\" short"
print(case1)

Life is "too" short

In [71]:
print("Life is too short\nso you need to learn python")

Life is too short
so you need to learn python

In [74]:
# 실습을 위한 문자열 변수 초기화
mystr = "Life is too short, You need Python"
mystr
'Life is too short, You need Python'
# 앞에서 0번째 부터 4번째 전까지의 문자 추출
print( mystr[0:4] )

# 앞에서 5번째 부터 7번째 전 까지의 문자 추출
print( mystr[5:7] )

# 앞에서 19번째 부터 끝까지 추출
print( mystr[19:] )

# 처음부터 앞에서 17번 전까지의 문자 추출
print( mystr[:17] )

# 처음부터 끝까지 추출
print( mystr[:] )

# 앞에서 19번째부터 뒤에서 -7번째 전까지 추출
print( mystr[19:-7] )

# 슬라이싱에 사용되는 인덱스 번호의 순서가 잘못되면 출력되는 내용 없음
print( mystr[7:5] )

Life
is
You need Python
Life is too short
Life is too short, You need Python
You need

## 4.문자열 포메팅

In [75]:
str1 = "나는 %d원을 가지고 있다" % 10000
print(str1)

나는 10000원을 가지고 있다

In [76]:
money = 123.123123
print("[%f]원 입니다."%money)

[123.123123]원 입니다.

In [77]:
lang = "Python"
str2 = "Hello %s" % lang
print(str2)

Hello Python

In [78]:
# 형식문자를 포함한 문장만 별도의 변수로 지정
str3 = "%s 날짜는 %d년 %d월 %d일 입니다."
# 여러 형식문자를 치환할 경우 값들을 괄호로 묶는다.
msg1 = str3 % ("정모", 2023, 1, 1)
print(msg1)
msg2 = str3 % ("약속", 2023, 3, 5)
print(msg2)

정모 날짜는 2023년 1월 1일 입니다.
약속 날짜는 2023년 3월 5일 입니다.

In [79]:
# 자리수 지정하기 -> 오른쪽 정렬, 빈자리는 공백으로 지정
print("[%10d]원을 입금했습니다." % 120000)

# 자리수 지정하기 -> 오른쪽 정렬, 빈자리는 0으로 지정
print("[%010d]원을 입금했습니다." % 120000)

# 문자열의 자리수 지정하기 -> 빈자리는 공백지정만 가능함.
print("[%10s]에 살고 있습니다." % "대한민국")

# 실습을 위한 변수
myMoney = 12345.6789
# 소수점 3자리까지 표현하기 -> 소수점 4째자리에서 반올림.
print("[%0.3f]원 입니다." % myMoney)

# 소수점 3자리까지 표현하되 전체 글자수는 10글자 (빈자리 공백)
# 소수점이 자리수에 포함됨
# -> 오른쪽 정렬
print("[%10.3f]원 입니다." % myMoney)

# 소수점 3자리까지 표현하되 전체 글자수는 10글자 (빈자리 0)
# -> 빈 자리를 0으로 채우는 경우는 오른쪽 정렬만 가능함.
print("[%010.3f]원 입니다." % myMoney)

[    120000]원을 입금했습니다.
[0000120000]원을 입금했습니다.
[      대한민국]에 살고 있습니다.
[12345.679]원 입니다.
[ 12345.679]원 입니다.
[012345.679]원 입니다.

In [80]:
# 0번째 위치에 format()함수에 전달된 0번째 값을 대입
msg1 = "I eat {0} apples"
print( msg1.format(3) )

# 여러 개의 값을 혼용하기
msg2 = "{0}은 {1}년 {2}월 {3}일 입니다."
print( msg2.format("개강일", 2023, 1, 26) )

# 이름으로 넣기 --> format() 메서드에 전달되는 파라미터 순서는 영향이 없다.
msg3 = "{name}은 {yy}년 {mm}월 {dd}일 입니다."
print( msg3.format(mm=10, name="종강일", dd=20, yy=2023) )

# 혼합사용 -> 숫자형식의 치환문자가 format() 메서드 안에서 먼저 위치해야 한다.
msg4 = "{0}은 {yy}년 {mm}월 {dd}일 입니다."
print( msg4.format("생일", yy=2023, mm=1, dd=31) )

# 인덱스 번호는 format() 함수 내의 순서 -> 형식 문자열 안에서는 자유롭게 배치 가능
fmt5 = "{1} {name}는 이 {0}입니다."
rst = fmt5.format("책", "좋은", name="교과서")
print(rst)

I eat 3 apples
개강일은 2023년 1월 26일 입니다.
종강일은 2023년 10월 20일 입니다.
생일은 2023년 1월 31일 입니다.
좋은 교과서는 이 책입니다.

## 문자열 관련 함수

In [81]:
mystr = "Hello Python"
length = len(mystr)
print(length)

12

In [82]:
print( len("안녕하세요 파이썬") )

9

In [83]:
num1 = 123
num1_s = str(num1)
print(type(num1_s))
print(num1_s)


# 실수를 문자열로 변환 --> 데이터 타입과 결과값 확인
num2 = 123.45
num2_s = str(num2)
print(type(num2_s))
print(num2_s)

# 불리언을 문자열로 변환 --> 데이터 타입과 결과값 확인
bool1 = True
bool1_s = str(bool1)
print(type(bool1_s))
print(bool1_s)

<class 'str'>
123
<class 'str'>
123.45
<class 'str'>
True

In [84]:
# 실습을 위한 샘플 문자열
mystr = "파이썬은 웹 프로그래밍이나 데이터 분석에 많이 사용되는 언어입니다."
# 글자 카운트
print( mystr.count("이") )
print( mystr.count("가") )

# 단어 카운트
print( mystr.count("파이썬") )
print( mystr.count("Python") )

4
0
1
0

In [85]:
# 실습을 위한 문자열
message = "내가 좋아하는 것에만 집중하기로 했다."
# 글자의 위치(=인덱스) 조회 (찾지 못할 경우 -1을 반환한다.)
print( message.find("가") )
print( message.find("나") )

# 단어의 시작 위치 조회 (찾지 못할 경우 -1을 반환한다.)
# -> 단어 첫 글자의 인덱스를 리턴한다.
print( message.find("집중") )
print( message.find("파이썬") )

1
-1
12
-1

In [86]:
# 실습을 위한 문자열
sentence = "사람의 사람에 의한 사람을 위한"
# 글자 검색
# -> 마지막으로 나타나는 글자의 위치를 왼쪽에서 0부터 카운트
# -> 찾지 못할 경우 -1을 리턴
print( sentence.rfind("사") )
print( sentence.rfind("자") )

# 단어 검색
print( sentence.rfind("사람") )
print( sentence.rfind("인간") )

11
-1
11
-1

In [87]:
# 문자열이 대문자로 구성된 경우 True
test3 = "HELLO"
print(test3.isupper())
# 문자열이 대문자로 구성되지 않은 경우 False
test4 = "Hello"
print(test4.isupper())

# 문자열이 소문자로 구성된 경우 True
test5 = "hello"
print(test5.islower())
# 문자열이 소문자로 구성되지 않은 경우 False
test6 = "Hello"
print(test6.islower())

True
False
True
False

In [88]:
mystr = "Hello Python" # 실습을 위한 문자열
up = mystr.upper() # 모든 글자를 대문자로 변환한 결과를 리턴한다.
print( up )

lw = mystr.lower() # 모든 글자를 소문자로 변환한 결과를 리턴한다.
print( lw )

print(mystr) # 원본 문자열은 변화없다.

# 대문자는 소문자로, 소문자는 대문자로 변환한 결과를 반환한다.
print( mystr.swapcase() )

# 문장의 첫 글자를 대문자로 변환한 결과를 반환한다.
# -> 나머지 모든 글자는 소문자 처리함
print( mystr.capitalize() )

# 각 단어의 첫 글자를 대문자로 변환한 결과를 반환한다.
print( mystr.title() )

HELLO PYTHON
hello python
Hello Python
hELLO pYTHON
Hello python
Hello Python

In [89]:
# 실습을 위한 문자열 (앞,뒤에 공백이 포함되어 있다.)
k = " python "
print("[" + k + "]")
# 앞뒤 공백 제거
x = k.strip()
print("[" + x + "]")
# 왼쪽 공백 제거
y = k.lstrip()
print("[" + y + "]")
# 오른쪽 공백 제거
z = k.rstrip()
print("[" + z + "]")

[ python ]
[python]
[python ]
[ python]

In [90]:
myMessage = "Hello World"
# 변수.replace(A, B), 변수에서 A를 B로 변경한 결과를 반환
newMsg = myMessage.replace("World", "Python")
print(newMsg)
# 원본은 변화 없음
print(myMessage)

Hello Python
Hello World

In [91]:
# 문자열을 잘라서 리스트로 변환하기
sample1 = "파이썬,데이터분석,머신러닝"
slist1 = sample1.split(",") # <-- 문자열을 잘라낼 기준값을 파라미터로 지정
print(slist1)

['파이썬', '데이터분석', '머신러닝']

In [92]:
# split() 메서드에 파라미터가 없을 경우 공백을 기준으로 잘라낸다.
sample2 = "파이썬 데이터분석 머신러닝"
slist2 = sample2.split()
print(slist2)

['파이썬', '데이터분석', '머신러닝']

In [93]:
# 숫자로만 구성된 문자열인 경우 True
test1 = "123"
print(test1.isnumeric())

# 숫자로만 구성되지 않은 문자열인 경우 False
test2 = "Hello123"
print(test2.isnumeric())

True
False

In [1]:
def solution(numer1, denom1, numer2, denom2):
    answer = [0, 0] # 결과를 저장할 배열 초기화
    # 두 분수를 같은 분모로 통분하여 분자 계산
    numer3 = denom2 * numer1 + numer2 * denom1 # 새 분자
    denom3 = denom1 * denom2 # 새 분모
    # 최대공약수를 이용하여 기약분수 만들기
    i = numer3 # 최대공약수 탐색을 위한 초기값 설정
    for i in range(numer3, 0, -1): # numer3부터 1까지 거꾸로 탐색
    # 분자와 분모가 i로 나누어 떨어지면 최대공약수
        if numer3 % i == 0 and denom3 % i == 0:
            break # 최대공약수를 찾으면 루프 종료
    answer[0] = numer3 // i # 분자를 최대공약수로 나누어 기약분수로 변환
    answer[1] = denom3 // i # 분모를 최대공약수로 나누어 기약분수로 변환
    return answer # 기약분수를 반환

print(solution(1,2,3,4))

[5, 4]