### LAB05 ‒ 딕셔너리 / 예외처리 / 파일 입출력

In [ ]:
mydic = { "name": "철수", "phone": "010-1234-5678", "birth": "0115" }

In [ ]:
print(mydic)

In [ ]:
phone = mydic["phone"]
print(phone)

In [ ]:
mydic["name"] = "호영" # 특정 원소의 값을 변경
print(mydic)

In [ ]:
foo = {"a":100, "b":200}
foo["c"] = 300
print(foo)

In [ ]:
grade = [
{"name": "철수", "kor": 95, "eng": 88},
{"name": "영희", "kor": 92, "eng": 90},
{"name": "철민", "kor": 88, "eng": 76}
]

print("0번째 원소: %s" % grade[0])
print("1번째 원소: %s" % grade[1])
print("2번째 원소: %s" % grade[2])

In [ ]:
tpl = "{0}의 국어점수:{1}, 영어점수: {2}"
print( tpl.format(grade[0]["name"], grade[0]["kor"], grade[0]["eng"]) )
print( tpl.format(grade[1]["name"], grade[1]["kor"], grade[1]["eng"]) )
print( tpl.format(grade[2]["name"], grade[2]["kor"], grade[2]["eng"]) )

In [ ]:
student = {
"name": ['철수', '민수', '호영'],
"age": [16, 17, 19],
"height": [172.4, 168.2, 170.5]
}
tpl = "[%s] 나이: %d세, 키: %0.1fcm"
print(tpl % (student['name'][0], student['age'][0], student['height'][0]))
print(tpl % (student['name'][1], student['age'][1], student['height'][1]))
print(tpl % (student['name'][2], student['age'][2], student['height'][2]))

In [ ]:
phone = {
            "apple": {
            "name": "iPhone",
            "price": "200$"
        },
            "samsung": {
            "name": "Galluxy",
            "price": "200만원"
        }       
        }
        
tpl = "%s의 가격은 %s입니다."

print(tpl % (phone['apple']['name'], phone['apple']['price']))
print(tpl % (phone['samsung']['name'], phone['samsung']['price']))

In [ ]:
review = {
    "items":[
        {"email":"user1@python.com", "comment": "good"},
        {"email":"user2@python.com", "comment": "모여"},
        {"email":"user3@python.com", "comment": "별로"}
    ]
}

tpl = "email:{0},comment: {1}"
for item in review["items"]:
    print(tpl.format(item["email"],item["comment"]))

In [ ]:
lectures ={
    "title":"파이썬 프로그래밍",
    "subject":[
        {"no":1,"date":"1일차","title":"프로그래밍 언어의 이해"},
        {"no":2,"date":"2일차","title":"변수와 연산자"},
        {"no":3,"date":"3일차","title":"함수의 이해"},
        {"no":4,"date":"4일차","title":"조건문"},
    ]
}

print(lectures.get("subject"))

In [ ]:
print([lectures])

In [ ]:
print(lectures["title"])

In [ ]:
tpl= "No.{0} - {1} : {2}"
for subject in lectures["subject"]:
    print(tpl.format(subject["no"],subject["date"],subject["title"]))

## 2. 딕셔너리의 활용

In [ ]:
point = {"korean":98,"math":77,"english":82}
print(point)

In [ ]:
del(point["english"])
print(point)

In [ ]:
dic = { "name": "철수", "phone": "010-1234-5678", "birth": "0115" }

print(dic.get("name"))

In [ ]:
print(foo.get("c",300))

In [ ]:
성적표 = {"국어": 92, "수학": 88, "영어": 72}

keys = 성적표.keys()
print(keys)

In [ ]:
keys_list = list(keys)
print(keys_list)

In [ ]:
keyList = list(성적표.keys())
keyList

In [ ]:
성적표 = {"국어": 92, "수학": 88, "영어": 72}

values  = 성적표.values()
print(values)

In [ ]:
values_list = list(values)
print(values_list)

In [ ]:
valueList = list(성적표.values())
valueList

In [ ]:
성적표1 = {"국어": 92, "수학": 88, "영어": 72}
성적표2 = {"물리": 78, "화학": 82}

성적표1.update(성적표2)
print(성적표1)

In [ ]:
성적표최종 = 성적표1.copy
print(성적표최종)

In [ ]:
성적표최종 = 성적표1.copy()
print(성적표최종)

In [ ]:
bar = {"a":100,"b":200}
print(bar)

bar.clear()
print(bar)

## 3. 예외처리

In [ ]:
x=int(input("숫자를 입력하세요"))
y = 100/x
print("결과는 %d입니다." %y)

In [ ]:
mylist = [82,13,41,31,32]
mysum = 0

x = int(input("인원 수를 입력하세여"))

for i in range(x):
    mysum +=mylist[i]
print("합계는 %d입니다" %mysum)

In [ ]:
x = int(input("숫자를 입력하세요.")) # 입력창에 숫자 0을 입력
# 입력값이 0인 경우에 대비해야 함
if x == 0:
    print("0으로 나눌 수 없습니다.")
else:
    y = 100 / x
    print("결과는 %d입니다." % y)

In [ ]:
try:
    x = int(input("숫자를 입력하세요."))
    y = 100 / x
    print("결과는 %d입니다." % y)
except:
    print("에러가 발생했습니다.")

In [ ]:
try:
    x = int(input("숫자를 입력하세요."))
    y = 100 / x
    print("결과는 %d입니다." % y)
except ValueError:
    print("숫자만 입력하세요.")
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")
except Exception:
    print("알 수 없는 에러가 발생했습니다.")

In [ ]:
try:
    x = int(input("숫자를 입력하세요."))
    y = 100 / x
    print("결과는 %d입니다." % y)
except ValueError as verr:
    print("숫자만 입력하세요.", verr)
except ZeroDivisionError as zerr:
    print("0으로 나눌 수 없습니다.", zerr)
except Exception as err:
    print("알 수 없는 에러가 발생했습니다.", err)

In [ ]:
try:
    x = int(input("숫자를 입력하세요."))
    y = 100 / x
    print("결과는 %d입니다." % y)
except ValueError as verr:
    print("숫자만 입력하세요.", verr)
except ZeroDivisionError as zerr:
    print("0으로 나눌 수 없습니다.", zerr)
except Exception as err:
    print("알 수 없는 에러가 발생했습니다.", err)
finally:
    print("처리가 완료되었습니다.")

In [ ]:
try:
    x = int(input("숫자를 입력하세요."))
    y = 100 / x
    print("결과는 %d입니다." % y)
except Exception as e:
    print("에러가 발생했습니다.", e)
finally:
    print("처리가 완료되었습니다.")

In [ ]:
mylist = [12,31,51,23,57]
mysum = 0

try:
    x= int(input("인원을 입력하시오"))

    for i in range(x):
        mysum +=mylist[i]
    print("합계는 %d입니다" %mysum)
except Exception as e:
    print("에러가 발생했습니다")
finally:
    print("처리가 완료되었습니다")

## 4.파일 입출력

In [1]:
f = open("Helloworld.txt","w",encoding='utf-8')

f.write("Hello Python!!!!!!\n")
f.write("안녕하세요 파이썬!!\n")

f.close()

In [4]:
f = open("Helloworld.txt","r",encoding='utf-8')

data = f.read()
print(data)

f.close()

Hello Python!!!!!!
안녕하세요 파이썬!!

In [11]:
with open("Helloworld.txt","w",encoding='utf-8') as f:
    for i in range(0,10):
        f.write("%d >>" %i)
        f.write("Life is too short," )
        f.write("you need phthon\n")

    print("파일이 저장되었습니다.")

파일이 저장되었습니다.

In [12]:
with open("Helloworld.txt","r",encoding='utf-8') as f:
    data = f.read()
    print(data)

0 >>Life is too short,you need phthon
1 >>Life is too short,you need phthon
2 >>Life is too short,you need phthon
3 >>Life is too short,you need phthon
4 >>Life is too short,you need phthon
5 >>Life is too short,you need phthon
6 >>Life is too short,you need phthon
7 >>Life is too short,you need phthon
8 >>Life is too short,you need phthon
9 >>Life is too short,you need phthon

In [14]:
with open("Helloworld.txt","r",encoding='utf-8') as f:
    lines = f.readlines()
    print(lines)
    print("-"*30)

    size = len(lines)
    print("읽어들인 데이터는 총 %d줄 입니다."%size)

    for item in lines:
        print(item.strip())

['0 >>Life is too short,you need phthon\n', '1 >>Life is too short,you need phthon\n', '2 >>Life is too short,you need phthon\n', '3 >>Life is too short,you need phthon\n', '4 >>Life is too short,you need phthon\n', '5 >>Life is too short,you need phthon\n', '6 >>Life is too short,you need phthon\n', '7 >>Life is too short,you need phthon\n', '8 >>Life is too short,you need phthon\n', '9 >>Life is too short,you need phthon\n']
------------------------------
읽어들인 데이터는 총 10줄 입니다.
0 >>Life is too short,you need phthon
1 >>Life is too short,you need phthon
2 >>Life is too short,you need phthon
3 >>Life is too short,you need phthon
4 >>Life is too short,you need phthon
5 >>Life is too short,you need phthon
6 >>Life is too short,you need phthon
7 >>Life is too short,you need phthon
8 >>Life is too short,you need phthon
9 >>Life is too short,you need phthon

## 5.CSV파일 다루기 (1)

In [15]:
grade = [
    {"name":"철수","kor":95,"eng":88,"math":72},
    {"name":"영희","kor":45,"eng":18,"math":52},
    {"name":"철민","kor":35,"eng":58,"math":82}
]

tpl = "{0},{1},{2},{3}\n"

with open("grade.csv","w",encoding='utf-8') as f:
    f.write("이름,국어,영어,수학\n")

    for item in grade:
        tmp = tpl.format(item["name"],item["kor"],item["eng"],item["math"])
        f.write( tmp )

In [16]:
grade_dic = {
'이름': ['철수', '영희', '민철', '수현', '호영'],
'국어': [98, 88, 92, 63, 120],
'영어': [76, 90, 70, 60, 50],
'수학': [88, 62, 88, 31, 76],
'과학': [64, 72, 45, 70, 88]
}

tpl = "{0},{1},{2},{3},{4}\n"
keys = list(grade_dic.keys())
p= ","
title = p.join(keys)

with open("grade_dic.csv","w",encoding='euc-kr') as f:
    f.write(title + "\n")

    for i in range(0, len(grade_dic['이름'])):
        tmp = tpl.format(grade_dic['이름'][i], grade_dic['국어'][i],
                        grade_dic['영어'][i], grade_dic['수학'][i],
                        grade_dic['과학'][i])
        f.write( tmp )

In [22]:
csv_list = None

with open("grade.csv","r",encoding='utf-8') as f:
    csv_list = f.readlines()
print(csv_list)



data = []

for i, line in enumerate(csv_list):
    if i ==0:
        continue
    k = line.strip().split(",")

    item = {"name": k[0], "kor": int(k[1]), "eng": int(k[2]),"math": int(k[3])}

    data.append(item)

data

['이름,국어,영어,수학\n', '철수,95,88,72\n', '영희,45,18,52\n', '철민,35,58,82\n']

[{'name': '철수', 'kor': 95, 'eng': 88, 'math': 72},
 {'name': '영희', 'kor': 45, 'eng': 18, 'math': 52},
 {'name': '철민', 'kor': 35, 'eng': 58, 'math': 82}]

In [28]:
try:
    with open("covid19.csv","r",encoding='euc-kr') as f:

        csv_list = f.readlines()

        for i in range(5):
            print(csv_list[i].strip())
except Exception as e:
    print("CSV 파일처리에 실패하였습니다.".e)
finally:
    print("-"*50)
    print("작업이 완료되었습니다.")

날짜,서울시 일일 확진,서울시 일일 사망,전국 일일 확진,전국 일일 사망
2023-05-31,5987,6,24411,17
2023-05-30,3326,1,13529,7
2023-05-29,1393,1,6868,3
2023-05-28,1393,1,6868,3
--------------------------------------------------
작업이 완료되었습니다.

In [ ]:
try:
    with open("covid19.csv","r",encoding='euc-kr') as f:

        csv_list = f.readlines()

        #for i in range(5):
        #   print(csv_list[i].strip())
        size = len(csv_list)-1

        seoul_confirm_sum = 0
        seoul_death_sum = 0
        nation_confirm_sum = 0
        nation_death_sum = 0

        for i, line in enumerate(csv_list):
            if i==0:
                continue
            k=line.strip().split(",")

            if k[1].isnumeric():    seoul_confirm_sum += int(k[1])
            if k[2].isnumeric():    seoul_death_sum += int(k[2])

            if k[3].isnumeric():    nation_confirm_sum += int(k[3])
            if k[4].isnumeric():    nation_death_sum += int(k[4])

        print("서울 일 평균 확진자 수 : %.2f명" % (seoul_confirm_sum / size))
        print("서울 일 평균 사망자 수 : %.2f명" % (seoul_death_sum / size))
        print("전국 일 평균 확진자 수 : %.2f명" % (nation_confirm_sum / size))
        print("전국 일 평균 사망자 수 : %.2f명" % (nation_death_sum / size))
except Exception as e:
    print("CSV 파일처리에 실패하였습니다.",e)
finally:
    print("-"*50)
    print("작업이 완료되었습니다.")

서울 일 평균 확진자 수 : 5119.41명
서울 일 평균 사망자 수 : 3.40명
전국 일 평균 확진자 수 : 26141.33명
전국 일 평균 사망자 수 : 19.72명
--------------------------------------------------
작업이 완료되었습니다.