## 연구과제

### CSV 파일의 내용을 저장하기 위한 covid19 테이블을 myschool 데이터베이스 안에 생성하세요. 테이블 구조는 csv 파일을 참고하여 직접 정의하세요. 단, 자동 증가 형식의 기본키 컬럼은 id라는 이름으로 반드시 존재해야 합니다.

In [1]:
from sqlalchemy import create_engine, text
from pandas import DataFrame
from pandas import read_sql

In [2]:
config={
    'username':'root',
    'password':'1234',
    'hostname':'localhost',
    'port':9090,
    'database':'myschool',
    'charset':'utf8mb4'
}

con_str_tpl = "mariadb+pymysql://{username}:{password}@{hostname}:{port}/{database}?charset={charset}"

con_str = con_str_tpl.format(**config)
print(con_str)

mariadb+pymysql://root:1234@localhost:9090/myschool?charset=utf8mb4

In [3]:
try:
    engine = create_engine(con_str)
    conn = engine.connect()
    print("Database connect success!!")
except Exception as e:
    print("Database connect fail!!",e)

Database connect success!!

In [5]:
sql = text("""
    CREATE TABLE covid19 (
        id INT AUTO_INCREMENT PRIMARY KEY,
        date DATE,
        seoul_covid INT,
        seoul_death INT,
        korea_covid INT,
        korea_death INT
    )
""")
try:
    result = conn.execute(sql)
    conn.commit()
    print("테이블 생성 완료")
except Exception as e:
    print("[SQL Error]",e)
    raise SystemExit

테이블 생성 완료

In [ ]:
file = open('covid19.csv', 'r', encoding='euc-kr')
lines = file.readlines()
#print(lines)
file.close()

sql = text("""
    INSERT INTO covid19 (date, seoul_covid, seoul_death, korea_covid, korea_death)
    VALUES (:date, :seoul_covid, :seoul_death, :korea_covid, :korea_death)
""")

for i in range(1, len(lines)):
    try:
        row = lines[i].strip().split(',')
        
        result = conn.execute(sql, {
            'date': row[0],
            'seoul_covid': int(row[1]) if row[1] else None,
            'seoul_death': int(row[2]) if row[2] else None,
            'korea_covid': int(row[3]) if row[3] else None,
            'korea_death': int(row[4]) if row[4] else None
        })
    except Exception as e:
        print("데이터 삽입 실패:", e)
        conn.rollback()
        raise SystemExit

conn.commit()
print("데이터 삽입 완료!")

데이터 삽입 완료!

### 년도/월별 서울시 확진자 합계, 사망자 합계, 전국 확진자 합계, 사망자 합계를 조회하는 SQL문을 Python으로 실행 후 결과를 엑셀 파일로 저장하세요.

In [11]:
sql = text("""
    SELECT 
        YEAR(date) AS 년도,
        MONTH(date) AS 월별,
        ROUND(SUM(seoul_covid), 0) AS 확진자합계,
        ROUND(SUM(seoul_death), 0) AS 사망자합계,
        ROUND(SUM(korea_covid), 0) AS 전국확진자합계,
        ROUND(SUM(korea_death), 0) AS 전국사망자합계
    FROM covid19
    GROUP BY YEAR(date), MONTH(date)
    ORDER BY 년도, 월별
""")

try:
    df = read_sql(sql,conn)
except Exception as e:
    print("SQL ERROR",e)
    raise SystemExit

df

      년도  월별      확진자합계   사망자합계    전국확진자합계  전국사망자합계
0   2020   2        0.0     0.0        0.0      0.0
1   2020   3        0.0     0.0        0.0      0.0
2   2020   4        7.0     0.0       82.0      0.0
3   2020   5      228.0     0.0      709.0      0.0
4   2020   6      451.0     0.0     1335.0      0.0
5   2020   7      288.0     0.0     1530.0      0.0
6   2020   8     2267.0     0.0     5642.0      0.0
7   2020   9     1424.0     0.0     3865.0      0.0
8   2020  10      719.0     0.0     2713.0      0.0
9   2020  11     2802.0     0.0     7769.0      0.0
10  2020  12    10209.0     0.0    26554.0      0.0
11  2021   1     5168.0     0.0    17500.0      0.0
12  2021   2     4083.0     0.0    11493.0      0.0
13  2021   3     3803.0     0.0    13430.0      0.0
14  2021   4     5811.0     0.0    18938.0      0.0
15  2021   5     6080.0     0.0    18343.0      0.0
16  2021   6     6075.0     0.0    16626.0      0.0
17  2021   7    14377.0     0.0    41401.0      0.0
18  2021   8    15019.0     0.0    53121.0      0.0
19  2021   9    21148.0     0.0    59899.0      0.0
20  2021  10    19123.0     0.0    53449.0      0.0
21  2021  11    34711.0     0.0    82566.0      0.0
22  2021  12    70977.0     0.0   183680.0      0.0
23  2022   1    52140.0     0.0   215009.0      0.0
24  2022   2   498842.0    36.0  2288947.0      0.0
25  2022   3  1983383.0  1158.0  9962387.0   5343.0
26  2022   4   722562.0  1019.0  4143305.0   6564.0
27  2022   5   135270.0   239.0   860022.0   1382.0
28  2022   6    49289.0    64.0   256037.0    371.0
29  2022   7   312023.0    80.0  1417511.0    500.0
30  2022   8   583610.0   259.0  3472043.0   1717.0
31  2022   9   270218.0   258.0  1523764.0   1642.0
32  2022  10   159869.0   117.0   789036.0    771.0
33  2022  11   306653.0   205.0  1541960.0   1332.0
34  2022  12   366337.0   255.0  1961255.0   1650.0
35  2023   1   201493.0   197.0  1110809.0   1293.0
36  2023   2    60021.0    85.0   338397.0    538.0
37  2023   3    62479.0    38.0   299294.0    283.0
38  2023   4    89355.0    41.0   354103.0    215.0
39  2023   5   126411.0    69.0   528768.0    305.0

In [12]:
df.to_excel("연구과제.xlsx")