# LAB02 함수의 이해 조건문과 반복문

In [1]:
# 정수형 변수의 데이터 타입 확인
age = 20
typeOfAge = type(age)
print (typeOfAge)

<class 'int'>

In [2]:
# 실수형 변수의 데이터 타입 확인
message = "Hello Python"
typeofmessage = type(message)
print(typeofmessage)

<class 'str'>

In [3]:
# 문자열 변수의 데이터 타입 확인
pi = 3.14
typeofpi = type(pi)
print(typeofpi)

<class 'float'>

In [4]:
# 논리형 변수의 데이터 타입 확인
ok = True
typeofok = type(ok)
print(typeofok)

<class 'bool'>

In [5]:
# 출력하고자 하는 모든 형태의 값을 파라미터로 전달한다.
# -> 문자열 이외의 다른 데이터 타입의 변수도 사용 가능함
a=100
b=3.14
c=True
print ("Life","is", "short",a,b,c)

Life is short 100 3.14 True

In [6]:
msg1 = input("메세지를 입력하세요")
print(msg1)

t=type(msg1)
print(t)

123
<class 'str'>

In [7]:
msg2 = input("정수를 입력하세요")
num = int(msg2)
print (num)

num_type = type(num)
print(num_type)

123
<class 'int'>

In [8]:
msg3 = input("실수를 입력하세요")
fnum = float(msg3)
print(fnum)

fnum_type = type(fnum)
print(fnum_type)

123.0
<class 'float'>

In [9]:
num1 = 100
num2 = float(num1)
print(num2)

t1 = type(num2)
print(t1)

100.0
<class 'float'>

In [10]:
num3 = 123.78
num4 = int(num3)
print(num4)


t2 = type(num4)
print(t2)

123
<class 'int'>

In [11]:
num3 = 123.78
num4 = int(num3)
print(num4)

t2 = type(num4)
print(t2)

123
<class 'int'>

In [12]:
num1 = 100
s1= str(num1)
print(type(num1),type(s1))

<class 'int'> <class 'str'>

In [13]:
num2= 3.14
s2 = str(num2)
print (type(num2),type(s2))

<class 'float'> <class 'str'>

In [14]:
a = pow(2,8)
print (a)

256

In [15]:
a= abs(100)
b= abs(-100)
c= abs(-12.345)

print (a,b,c)

100 100 12.345

In [16]:
n = round(123.78)
print(n)

n2 = round(123.76,1)
print (n2)

124
123.8

In [17]:
def say_hello():
    print("HELLO PYTHON")
    print("안녕 파이썬")

In [18]:
say_hello()

HELLO PYTHON
안녕 파이썬

In [19]:
def f(x):
    y =x+1
    print(y)

In [20]:
f(2)

3

In [21]:
f(3)

4

In [22]:
def foo(count):
    x = count * 10
    print(x)

In [23]:
foo(2)

20

In [24]:
##foo() ->오류 발생

In [25]:
def hello(x,y):
    z = x + y
    print(z)

In [26]:
hello(2,1)

3

In [27]:
hello(5,3)

8

In [28]:
def sum1(x,y,z=0):
    answer = x +y + z
    print(answer)

In [29]:
sum1(1,2,3)

6

In [30]:
sum1(10,20)

30

In [31]:
def sum2(a,b,c=0,d=0):
    answer = a+b+c+d
    print(answer)

In [32]:
sum2(d=3,c=4,b=2,a=1)

10

In [33]:
sum2(1,b=2)

3

In [34]:
def plus(x,y):
    z = x+y
    return z

In [35]:
a = plus(10,20)
print(a)

30

In [36]:
print(plus(100,200))

300

In [37]:
b = plus(5,7)+100
print(b)

112

In [38]:
def foo(x,y):
    return 0
    z = x+y
    return z

In [39]:
print(foo(100,200))

0

In [40]:
a = 100
b = 200

def foo():
    k = a+b
    print(k)

In [41]:
foo()

300

In [42]:
## print(k)

## 조건문

In [43]:
money = 10000
# money = 0
if money:
    print("택시를 타고")

print("집에가자")

택시를 타고
집에가자

In [44]:
name = "Python"

if name:
    print(name)

print("프로그래밍")

Python
프로그래밍

In [45]:
myage = int(input('나이를 입력하세요'))

if myage  == 19:
    print("19살입니다")

if myage != 19:
    print("20살이 아닙니다")

if myage > 19:
    print("성인입니다")

if myage <= 19:
    print("청소년입니다")

20살이 아닙니다
성인입니다

In [46]:
point = int(input("점수를 입력하세요"))

if point > 70 and point <= 80:
    print("c학점입니다")

if point <= 70 or point > 80:
    print("c학점이 아닙니다")

c학점이 아닙니다

In [47]:
iskorean = True
#iskorean = False

if iskorean == True:
    print("한국사람입니다...(1)")

if iskorean == False:
    print("한국사람입니다...(2)")

if iskorean != True:
    print("한국사람입니다...(3)")

if iskorean != False:
    print("한국사람입니다...(4)")

if iskorean:
    print("한국사람입니다...(5)")

if not iskorean:
    print("한국사람입니다...(6)")

한국사람입니다...(1)
한국사람입니다...(4)
한국사람입니다...(5)

In [48]:
print("시험시작")

score = int(input("점수를 입력하세요"))

if score >= 60:
    print("합격입니다")
else:
    print("불합격입니다")

print("시험 끗")

시험시작
합격입니다
시험 끗

In [2]:
answer = input("한국인입니까? (Y/N)")

if answer == "Y":
    iskorean = True
else:
    iskorean = False

if iskorean:
    print("한국사람 입니다(1)")
else:
    print("한국사람이 아닙니다(2)")

if not iskorean:
    print("한국사람이 아닙니다(3)")
else:
    print("한국사람 입니다(4)")

한국사람이 아닙니다(2)
한국사람이 아닙니다(3)

In [7]:
print("시험시작")

point = int(input("점수를 입력하세요"))

if point > 90:
    print("A학점")
elif point >80:
    print("B학점")
elif point >80:
    print("C학점")
elif point >80:
    print("D학점")
elif point >80:
    print("F학점")

print("시험 끗")

시험시작
A학점
시험 끗

In [8]:
x=1
while x <=10:
    print("x=",x)
    x+=1
print ("x의 최종값 =",x)

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
x의 최종값 = 11

In [9]:
x=int(input("숫자를 입력하세요"))

y=1
while y <10:
    z = x*y
    print(x,"x",y,"=",z)
    y+=1

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108

In [13]:
x=1
sum=0
while x <=10:
    sum += x
    print("x =", x,"-> sum =",sum)
    x+=1

x = 1 -> sum = 1
x = 2 -> sum = 3
x = 3 -> sum = 6
x = 4 -> sum = 10
x = 5 -> sum = 15
x = 6 -> sum = 21
x = 7 -> sum = 28
x = 8 -> sum = 36
x = 9 -> sum = 45
x = 10 -> sum = 55

In [15]:
a=0
while a <50:
    print(a)
    a+=10

0
10
20
30
40

In [16]:
b=10
while b >0:
    print(b)
    b-=2

10
8
6
4
2

In [18]:
for x in range(1,11):
    print("x=",x)
print ("x의 최종값",x)

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
x의 최종값 10

In [20]:
x = int(input("숫자를 입력하세여"))

for y in range(1,10):
    z = x*y
    print (x,"x",y,"=",z)

123 x 1 = 123
123 x 2 = 246
123 x 3 = 369
123 x 4 = 492
123 x 5 = 615
123 x 6 = 738
123 x 7 = 861
123 x 8 = 984
123 x 9 = 1107

In [21]:
sum = 0

for x in range(1,11):
    sum+=x
    print ("x=",x,"->sum",sum)

x= 1 ->sum 1
x= 2 ->sum 3
x= 3 ->sum 6
x= 4 ->sum 10
x= 5 ->sum 15
x= 6 ->sum 21
x= 7 ->sum 28
x= 8 ->sum 36
x= 9 ->sum 45
x= 10 ->sum 55

In [22]:
for a in range(0,50,10):
    print(a)

0
10
20
30
40

In [24]:
for b in range(10,0,-2):
    print(b)

10
8
6
4
2